@import "./variable.scss";
@import "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css";

body,
html,
#app-mount {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
